@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    font-family: 'Outfit';
}

body { background-color: hsl(212, 45%, 89%);}


.card {
    background-color: white;
    border-radius: 16px;
    display: block;
    width: 318px;
    height: 460px;
    margin: 120px auto;
    padding-top: 16px;
}

#img {
    background-image: url(./images/image-qr-code.png);
    background-size: cover;
    height: 289px;
    width: 289px;
    margin: auto auto;
    border-radius: 16px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 28px 38px auto;
    word-spacing: 3px;
} 


p { 
    font-size: 12px; 
    font-weight: 400;
    text-align: center;
    padding: 0.4rem;
    color: hsl(220, 15%, 55%);
    margin: auto 38px;
    word-spacing: 2px;
} 

div {
    font-size: 10px; 
    font-weight: 400;
    text-align: center;
    padding: 0.3rem;
    color: hsl(220, 15%, 55%);
}

div a { 
    color: hsl(228, 45%, 44%);
}


